/********************************************************************
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 *
 * Copyright (c) 2023 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2026 LCKFB <lckfb@sz-jlc.com>
 *********************************************************************
 * Wiki-(Chinese)：https://wiki.lckfb.com/
 * Wiki-(English)：https://wiki.lckfb.com/en/
 *********************************************************************/


/*-----------------------------------------------------------
 * Camera Power Enable
 *----------------------------------------------------------*/
&vcc_1v2_mipi_csi {
	status = "okay";
};

&vcc_1v8_mipi_csi {
    status = "okay";
};

&vcc_2v8_mipi_csi {
    status = "okay";
};

/*-----------------------------------------------------------
 * Camera Link Configuration
 *----------------------------------------------------------*/
&i2c4 {
	status = "okay";
	pinctrl-0 = <&i2c4m3_xfer>;

	imx334_mipi0: imx334@1a {
		status = "okay";
		compatible = "sony,imx334";
		reg = <0x1a>;
		/* Module has on-board 37.125MHz oscillator, disable board MCLK */
		/* clocks = <&cru CLK_MIPI_CAMERAOUT_M0>; */
		/* assigned-clocks = <&cru CLK_MIPI_CAMERAOUT_M0>; */
		/* assigned-clock-rates = <74250000>; */
		/* clock-names = "inck"; */
		/* pinctrl-names = "default"; */
		/* pinctrl-0 = <&cam_clk0m0_clk0>; */
		power-domains = <&power RK3576_PD_VI>;

		avdd-supply = <&vcc_mipicsi0_avdd>;
		dvdd-supply = <&vcc_mipicsi0_dvdd>;
		dovdd-supply = <&vcc_mipicsi0_dovdd>;

		reset-gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_LOW>;

		/* IMX334 slave sync: XVS=GPIO0_B5, XHS=GPIO2_C7. */
		pwm-names = "xvs", "xhs";
		pwms = <&pwm1_6ch_1 0 33333333 0>,
		       <&pwm0_2ch_1 0 14815 0>;
		rockchip,xvs-pulse-us = <15>;
		rockchip,xvs-period-ns = <33333333>;
		rockchip,xhs-period-ns = <14815>;
		rockchip,xhs-duty-ns = <200>;

		/* Light source control on GPIO1/OUTPUT1 = GPIO0_C7 */
		light-source-gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
		light-source-active-level = "low";
		light-source-exposure-advance-us = <0>;
		light-source-exposure-off-delay-us = <0>;

		pinctrl-names = "default", "active-high";
		pinctrl-0 = <&imx334_light_source_pin>;
		pinctrl-1 = <&imx334_light_source_active_high_pin>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "IMX334-MIPI";
		rockchip,camera-module-lens-name = "default";

		/* 0 = FREE_RUN, 1 = XVS_XHS_ONE_SHOT */
		trigger-mode = <1>;

		port {
			imx334_dcphy0_out: endpoint {
				remote-endpoint = <&dcphy0_in_imx334>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				link-frequencies = /bits/ 64 <445500000>;
			};
		};
	};
};


&csi2_dcphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dcphy0_in_imx334: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx334_dcphy0_out>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};


&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi0_in0>;
			};
		};
	};
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi0_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir0>;
		};
	};
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};


/*-----------------------------------------------------------
 * MIPI-CSI-0 Link Virtual Interface Enable
 *----------------------------------------------------------*/
&rkisp_vir0_sditf {
	status = "okay";
};

&rkvpss_vir0 {
	status = "okay";
};


/*-----------------------------------------------------------
 * General Configuration
 *----------------------------------------------------------*/
&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkvpss {
	status = "okay";
};

&rkvpss_mmu {
	status = "okay";
};

/*-----------------------------------------------------------
 * IMX334 XVS on PWM1 CH1 M0 / GPIO0_B5
 *----------------------------------------------------------*/
&pwm1_6ch_1 {
	status = "okay";
};

/* IMX334 XHS on PWM0 CH1 M2 / GPIO2_C7. */
&pwm0_2ch_1 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm0m2_ch1>;
};
