/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	fragment@0 {
		target = <&pinctrl>;

		__overlay__ {
			trigger_dev {
				trigger_dev_pin: trigger-dev-pin {

					/* GPIO0_C6: 平时高电平，下降沿有效 */
					rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;

					/*
					 * 注意：GPIO0_D3(RK_PD3) 在 LubanCat-5IO 默认 DTS 中
					 * 已被 Type-C 控制器 fusb302 用作中断脚：
					 *   usbc0: fusb302@22 { interrupts = <RK_PD3 ...>; }
					 * 所以不要把 RK_PD3 再拿来做按键输入，否则会冲突、无响应。
					 */

				};
			};
		};
	};

	fragment@1 {
		target-path = "/";

		__overlay__ {
			trigger_dev: trigger-dev {
				compatible = "embedfire,trigger-dev";
				status = "okay";

				/* GPIO0_C6: 下降沿有效（平时高电平，低电平=按下） */
				input-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_LOW>;
				interrupt-parent = <&gpio0>;
				/* 下降沿触发，与 ACTIVE_LOW 配合：按下=低电平=下降沿 */
				interrupts = <RK_PC6 IRQ_TYPE_EDGE_FALLING>;

				pinctrl-names = "default";
				pinctrl-0 = <&trigger_dev_pin>;

				/* 防抖时间(ms)，0=无防抖，适合快速触发 */
				debounce-ms = <0>;

				/* 输入事件码，KEY_CAMERA 用于相机快门 */
				linux,code = <KEY_CAMERA>;

				/*
				 * 通过 os08a20 的 sysfs 触发，与 fsin-gpios 共用。
				 * os08a20 保留 fsin-gpios，同时支持硬触发和手动软触发。
				 */
				trigger-path = "/sys/bus/i2c/devices/1-0036/trigger";
				/* 写入 sysfs 的值，默认 "1" 表示触发一次拍照 */
				trigger-value = "1";
			};
		};
	};
};


